/* Custom Cursor*/

.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 50%;
  border: 2px solid #FBAB7E;
  transition: transform 0.3s ease;
  transform-origin: center center;
  pointer-events: none;
  z-index: 9999;
}

.cursor.grow {
  transform: translate(-50%, -50%) scale(2);
  background: white;
  mix-blend-mode: difference;
  border: none;
}

.cursor.grow-small {
  transform: translate(-50%, -50%) scale(1.5);
  background: white;
  mix-blend-mode: difference;
  border: none;
}

.cursor-scale {
  cursor: none;
}


/* Counter Section*/
:root{ 
  --white: #fff;
  --color2: #b658c3;
}
.counter-setion{padding: 50px 0px;}
.counter{
  color: var(--color2);
  background-image: linear-gradient(-45deg, rgba(217, 242, 255, 1) 0%, rgba(255, 232, 249, 1) 25%, rgba(217, 242, 255, 1) 51%, rgba(233, 230, 255, 1) 100%);
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
  width: 210px;
  height: 210px;
  border-radius: 200px 200px 200px 0;
  padding: 46px 10px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.counter:before,
.counter:after{
  content:"";
  background: var(--color2);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 100px 100px;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: -1;
}
.counter:after{
  background: var(--white);
  width: calc(100% - 40px);
  height: calc(100% - 40px); 
}
.counter .counter-icon{
  font-size: 30px;
  line-height: 30px;
  margin: 0 0 15px;
}
.counter h3{
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 10px 0 10px;
  padding: 0px 10px;
}
.counter .counter-value{
  font-size: 33px;
  font-weight: 600;
  line-height: 33px;
  display: block;
}
@media screen and (max-width:990px){
  .counter{ margin-bottom: 40px; }
} 


/*  Last content*/

.parallax-wrap {
    padding-top:80px;
    padding-bottom: 80px;
    text-align: center;
    background-image: url(./../../public/assets/images/section/parallax-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.parallax-wrap .heading {
    font-weight: 500;
    font-size: 45px;
    line-height: 50px;
    color: #111235;
    margin-bottom: 30px;
}
.parallax-wrap .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #111235;
    margin-bottom: 43px;
}
.tf-button-primary.style-green {
    background-color: #254EF0;
    color: white;
}

/* Footer */

.footer-big ul {
    padding: 0;
    margin: 0;
    text-decoration: none;
  }
  .footer-big li {
    list-style: none;
    text-decoration: none;
  }
  a{text-decoration: none!important;}
  .footer-big a:focus,
  a:hover {
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .footer-big a:focus {
    outline: 0;
  }
  .footer-big {
    padding: 50px 0 50px 0;
  }
  .footer-big .footer-widget {
    margin-bottom: 40px;
  }
  .footer--light {
    background: #e7e8ed;
  }
  .footer-big .footer-menu ul li a,
  .footer-big p,
  .footer-big ul li {
    color: #212121;
  }
  .footer-menu {
    padding-left: 48px;
  }
  .footer-menu ul li a {
    font-size: 15px;
    line-height: 32px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .footer-menu ul li a:hover {
    color: #5867dd;
  }
  .footer-menu--1 {
    width: 100%;
  }
  .footer-widget-title {
    line-height: 42px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .mini-footer {
    background: #192027;
    text-align: center;
    padding: 15px 0;
  }
  .mini-footer p {
    margin: 0;
    line-height: 26px;
    font-size: 15px;
    color: #999;
  }
  .mini-footer p a {
    color: #5867dd;
  }
  .mini-footer p a:hover {
    color: #34bfa3;
  }
  .widget-about img {
    display: block;
    margin-bottom: 30px;
  }
  .widget-about p {
    font-weight: 400;
  }
  .widget-about .contact-details {
    margin: 30px 0 0 0;
  }
  .widget-about .contact-details li {
    margin-bottom: 10px;
  }
  .widget-about .contact-details li:last-child {
    margin-bottom: 0;
  }
  .widget-about .contact-details li span {
    padding-right: 12px;
  }
  .widget-about .contact-details li a {
    color: #5867dd;
  }
  @media (max-width: 991px) {
    .footer-menu {
      padding-left: 0;
    }
  }
  